# Copia a .env; no publiques .env en Git.
CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''

# Base de datos en writable/.
database.default.DBDriver = SQLite3
database.default.database = inventario.db

# Tokens CSRF asociados a la sesión.
security.csrfProtection = session
